.dashboard
  width 100%
  .slide-bar-container
    position fixed
    width 50%
    height 100%
    top 0
    right 0
    transition transform 0.2s ease-in-out
  .dashboard-container
    position relative
    width 100%
    transition transform 0.2s ease-in-out
    .mask-animate
      position relative
      z-index 1