html, body
  width 100%
  height 100%
.title
  font-size 0.32rem
  width 100%
  text-align center
  height 0.8rem
  color #ffffff
  line-height 0.8rem
  background-image linear-gradient(to right, #8590fb, #4cc2d7)
.link-list
  font-size 0.32rem
