.slide-bar
  width 100%
  height 100%
  background-image linear-gradient(62deg, #8ec5fc, #e0c3fc)
  .link-list
    padding 0 0.4rem
    .link-name
      color #ffffff
      text-align center
      padding 0.2rem 0
      border-bottom 0.02rem solid #ffffff